<!-- Cookie Consent -->
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
 
<!-- Track the user consent based on the cookie-banner cookie availability -->
<script src="${static.url('cookieBanner.js')}"></script>

<div id="cookie-notice" class="cookie-notice">
	<svg class="cc-icon cc-v-center" x="0px" y="0px" viewBox="0 0 44 44" height="25px" fill="none" stroke="currentColor"><circle cx="22" cy="22" r="20" stroke-width="2"></circle><line x1="22" x2="22" y1="18" y2="33" stroke-width="3"></line><line x1="22" x2="22" y1="12" y2="15" stroke-width="3"></line></svg>
	<span class="cookie-text">This site uses cookies for analytics, personalized content and ads. By continuing to browse this site, you agree to this use.</span>
	<a id="btnPrivacy" href="https://go.microsoft.com/fwlink/?linkid=845480" target="_blank">Learn more</a>
</div>
